<div id="contact_details">
	<p>For promotions, you can contact us through the following: </p>
	<br>
	<table>
		<tr><td>Email: </td><td><i>kamalvarmaiitm@gmail.com</i></td></tr>
		<tr><td>Phone: </td><td><i>+91 9845411332</i></td></tr>
		<tr><td>Facebook: </td><td><a href="http://www.facebook.com/kvkambe"><i>Kamal Varma Kambe</i></a></td></tr>
	</table>
</div>	
