<div class="tabbable">
  
<ul class="nav nav-tabs">
  <li class="active"><a href="#telugu" data-toggle="tab">Telugu</a></li>
  <li><a href="#hindi" data-toggle="tab">Hindi</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="telugu">
    <%= render "show", :lang => "telugu" %>
  </div>
  <div class="tab-pane fade" id="hindi">
    <%= render "show", :lang => "hindi" %>
  </div>
</div>
</div>



