@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightBlue: #1AD1F6;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  //background-color: #A9E2F3;
  background-color: #fff;
  font-size: 1em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* My css */

#mainTable {
  table {
    width: 100%;
    
    td {
      width: 50%;
      padding: 3px;
    }
  }
  
  .reviews {
    padding: 15px;
    
    table caption {
      float: left;
      font-size: 1.3em;
      //font-weight: bold;
      margin: 10px 0;
      //border-bottom: 1px solid;
      color: hsla(344, 81%, 43%, 1);
    }
  }  
}

#contact_details {
  table {
    td {
      padding:0 15pt 0 15pt;
    }
  }
}

/*
.navbar-inner {
  background: none;
  filter: none;
  border: none;
  box-shadow: none;
  
  //background-color: #81DAF5;
  
  .nav {
    a {
      color: #000;
    }
    
    a:hover {
      background-color: #2E64FE;
    }    
  }
  
}
*/

.navbar .nav.pull-right {
    margin-right: 100px;
}

.navbar-inverse {
  .nav-pills > li > a {
    color: #fff;
    margin-right: 13px;
    margin-top: 9px;
    border-radius: 10px;
    //background-color: #0A3066;
    color: #FFFFFF;
    padding: 10px;
  }
  
  .nav-pills > li > a:hover {
    background-color: #0A3066;
  }
}

#header {
  background-color: hsla(200, 82%, 22%, 1);
  height: 50px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #fff;
  // color:  #020033;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

#main-content {
  margin-top: 30px;
}





