@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightBlue: #1AD1F6;
$themeColor: hsla(200, 82%, 22%, 0.6);
$themeColorFullOpace: hsla(200, 82%, 22%, 1);
$hoverBackgroundColor: #0A3066;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  //background-color: #A9E2F3;
  background-color: #fff;
  font-size: 1.7em;
  // background: image-url("reel2.jpg");
  background: image-url("3d.jpg");
  // background: image-url("film.jpg");
  // background: image-url("film2.jpg");
  // background: image-url("reel.jpg");
  // background: image-url("film3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  // color: $grayLight;
}

h3 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  // color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      // color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* My css */

#mainTable {
  table {
    width: 100%;
    
    td {
      width: 50%;
      padding: 3px;
    }
  }
  
  .reviews {
    padding: 15px;
    
    table caption {
      float: left;
      font-size: 1.3em;
      //font-weight: bold;
      margin: 10px 0;
      //border-bottom: 1px solid;
      color: hsla(344, 81%, 43%, 1);
    }
  }  
}

#contact_details {
  table {
    td {
      padding:0 15pt 0 15pt;
    }
  }
}

/*
.navbar-inner {
  background: none;
  filter: none;
  border: none;
  box-shadow: none;
  
  //background-color: #81DAF5;
  
  .nav {
    a {
      color: #000;
    }
    
    a:hover {
      background-color: #2E64FE;
    }    
  }
  
}
*/

.navbar .nav.pull-right {
    margin-right: 100px;
}

.navbar-inverse {
  .nav-pills > li > a {
    color: #fff;
    margin-right: 13px;
    margin-top: 9px;
    border-radius: 10px;
    //background-color: #0A3066;
    color: #FFFFFF;
    padding: 10px;
  }
  
  .nav-pills > li > a:hover, .nav-pills > li > a.active {
    background-color: $hoverBackgroundColor;
  }
  
}

#header {
  background-color: $themeColor;
  height: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #fff;
  // color:  #020033;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}

#main-content {
  margin-top: 50px;
}

.theme_white {
  background-color: #fff;
}

.review-box {
  padding: 10px;
  background-color: $themeColor;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
  a {
    color: #fff;
    padding: 0 25px;
    display: block;
    line-height: 1.8em;
    
    strong {
      color: hsla(90, 70%, 50%, 1);
    }
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  h2{
    // color: hsla(344, 81%, 43%, 1);
    color: hsla(90, 70%, 50%, 1);
    font-weight: bold;
  }
  
  li {
    line-height: 1.6em;
  }
  
  li > a:hover {
    background-color: $hoverBackgroundColor;
  }
}

.review-box:hover {
  background-color: $themeColorFullOpace;
}

.main-table {
  margin-top: 10px;

  .row {
    height: 500px;
  }
}

.carousel { 
  z-index: -99; 
  // width: 100%; height: 100%;
} /* keeps this behind all content */
.carousel-inner .item {
    position: fixed; 
    // margin-top: -10px;;
    width: 100%; height: 100%;
    // width: auto; height: 800px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
 
}

.carousel-inner .one, .carousel-inner .one .left{
    //width: 1268px; height: 1000px;
    background: image-url("reel2.jpg");
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    
    // img {
      // max-width: 100%;
      // width: auto;
      // height: auto;
      // vertical-align: middle;
    // }
}
.carousel-inner .two, .carousel-inner .two .left{
    //width: 1268px; height: 1000px;
    background: image-url("reel1.jpg");
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    
    // img {
      // max-width: 100%;
      // width: auto;
      // height: auto;
      // vertical-align: middle;
    // }
}
.carousel-inner .three, .carousel-inner .three .left {
  //width: 1268px; height: 1000px;
    background: image-url("red_hall.jpg");
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    
    // img {
      // max-width: 100%;
      // width: auto;
      // height: auto;
      // vertical-align: middle;
    // }
}
.carousel-inner .active.left {
    left:0;
    opacity:0;
    z-index:1;
    width: 100%; height: 100%;
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
  width: 100%; height: 100%;
}



